<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fablab</title>
    <link rel="icon" href="img/logo.png" type="image/png" sizes="32x32" />
    <link rel="apple-touch-icon" href="img/logo.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/machines.css" />
  </head>
  <body>
    <header class="border-bottom bg-white">
      <div
        class="container py-2 d-flex justify-content-between align-items-center"
      >
        <!-- LOGO -->
        <div class="d-flex align-items-center">
          <img
            src="img/logo.png"
            alt="Logo FabLab Mérida"
            width="50"
            height="50"
            class="me-2"
          />
          <div class="fw-bold lh-1">
            FabLab<br /><span class="text-secondary">Mérida</span>
          </div>
        </div>

        <!-- LOGIN / REGISTER / SEARCH -->
        <div class="d-flex align-items-center gap-3" id="authLinks">
          <a href="login.html" class="text-dark text-decoration-none small"
            >Iniciar sesión</a
          >
          <a href="register.html" class="text-dark text-decoration-none small"
            >Registrarse</a
          >
          <i class="bi bi-search" style="font-size: 1.1rem"></i>
        </div>
      </div>

      <!-- NAV LINKS (DEBAJO DEL LOGO) -->
      <nav class="border-top">
        <div class="container">
          <ul class="nav nav-underline">
            <li class="nav-item">
              <a class="nav-link text-dark" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active text-primary fw-semibold"
                href="machines.html"
                >Máquinas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="courses.html">Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="readme.html">Cómo funciona</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <br />

    <main class="machines-page">
      <div class="container">
        <!-- ADMIN_ONLY_MARKER -->

        <div class="card">
          <div class="face face1">
            <div class="content">
              <img
                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"
              />
              <h3>Cortadora láser</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                cum cumque minus iste veritatis provident at.
              </p>
              <a href="#">Reservar</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="face face1">
            <div class="content">
              <img
                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"
              />
              <h3>Fresa</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                cum cumque minus iste veritatis provident at.
              </p>
              <a href="#">Reservar</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="face face1">
            <div class="content">
              <img
                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"
              />
              <h3>Impresora 3D</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                cum cumque minus iste veritatis provident at.
              </p>
              <a href="#">Reservar</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="face face1">
            <div class="content">
              <img
                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"
              />
              <h3>Estación de soldadura</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                cum cumque minus iste veritatis provident at.
              </p>
              <a href="#">Reservar</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="face face1">
            <div class="content">
              <img
                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"
              />
              <h3>Kit Arduino</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                cum cumque minus iste veritatis provident at.
              </p>
              <a href="#">Reservar</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="face face1">
            <div class="content">
              <img
                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"
              />
              <h3>Kit electrónica</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                cum cumque minus iste veritatis provident at.
              </p>
              <a href="#">Reservar</a>
            </div>
          </div>
        </div>
      </div>

      <br />
    </main>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js" defer></script>
  </body>
</html>
