<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fablab</title>
    <link rel="icon" href="img/logo.png" type="image/png" sizes="32x32" />
    <link rel="apple-touch-icon" href="img/logo.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: siteHeader('readme')}"></div>

    <br />

    <main>

    </main>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js" defer></script>
  </body>
</html>
