/* From Uiverse.io by rmdhnkhsn */ 
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* center the card horizontally by default */
  margin: 0 auto;
  padding: 28px;
  max-width: 340px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(192, 192, 192, 0.2);
  transition: 1s all;
  overflow: hidden;
}
.card::after {
  content: "";
  position: absolute;
  bottom: -30%;
  right: -30%;
  width: 120px;
  height: 120px;
  background: #f8bc1e;
  filter: blur(70px);
  border-radius: 50%;
  transition: width 1s, height 1s;
}
.card::before {
  content: "";
  position: absolute;
  bottom: -160%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: #f8bc1e;
  filter: blur(70px);
  border-radius: 50%;
  transition: width 1s, height 1s;
}
.card:hover::before {
  bottom: -230%;
  width: 1000px;
  height: 1000px;
  filter: blur(1px);
}
.containers {
  position: relative;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 6px;
  background: #ffde8b;
}
.card:hover .icon {
  background: #ffde8b;
  transition: 1s all;
}
.card:hover .icon svg,
.card:hover .linkMore svg {
  filter: brightness(0) invert(1);
  transition: 1s all;
}
.title {
  color: #171d29;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
  transition: 1s all;
  margin: 1rem 0;
}
.subtitle {
  color: #f79726;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  transition: 1s all;
}
.linkMore {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  color: #072713;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  transition: 1s all;
  margin-top: 1rem;
}
.card:hover .title,
.card:hover .subtitle,
.card:hover .linkMore {
  color: #fff;
  transition: 1s all;
}
